# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Build-code
dist/

# Environment variables file
.env

# Workspaces
*.code-workspace

# Clutter
*dump/
worlds/
*.flp
social/