body {
    margin: 0px;
    padding: 10px;
}

#main-canvas {
	width: 640px;
	height: 448px;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

#viewport {
	width: 640px;
	height: 448px;
	background-image: url('../../client/src/textures/bg_grid_2.png');
	background-size: 64px;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.toolbar {
	margin: 10px 0px;
}