@font-face {
	font-family: "BattlekourBody";
	src: url("./src/BattlekourBody_v1.otf") format("otf");
}

* {
	font-family: "BattlekourBody", Fallback, sans-serif;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
	font-smooth: never;
	font-size: 16px;
	text-shadow: 0px 2px 0px rgba(0,0,0,0.5);
}

body {
    margin: 0px;
    padding: 0px;
}

#main-canvas, #menu-canvas, #background, #loading-basic {
	display: inline-block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

#background {
	background-image: url('./src/textures/bg_grid_2.png');
	background-size: 64px;
}

#loading-basic {
	display: inline-block;
	top: calc(50% - 64px);
	left: calc(50% - 64px);
	width: 128px;
	height: 128px;
	background-image: url('./src/textures/loading_basic.gif');
	background-size: 128px;
}

#chat-input {
	position: absolute;
	display: none;
	bottom: 10px;
	left: 10px;
	width: calc(35% + 20px);
	height: 20px;
}

#chat-input-text {
	position: absolute;
	display: inline-block;
	bottom: -10px;
	left: 0px;
	width: 100%;
	height: 20px;

	border: none;
	border-radius: 0px;
	background-color: rgba(50,50,50,0.5);
	color: white;
}

#chat-window {
	position: absolute;
	display: none;
	bottom: 40px;
	left: 10px;
	width: 35%;
	height: 20%;
	max-height: 20%;

	padding: 0px 10px 0px 10px;

	overflow-y: scroll;
	pointer-events: none;
	user-select: none;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	
	background-color: rgba(0,0,0,0.5);
	color: white;
}

#chat-window::-webkit-scrollbar {
	display: none;
}

@keyframes message-arrive { 
	0% {
		left: -100px;
		opacity: 0;
	}
	100% { 
		left: 0px;
		opacity: 1;
	}
}

#chat-window > p {
	position: relative;
	margin: 10px 0px 5px;
	left: 0px;
	opacity: 1;
	transition: 1s;

	animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1.5);
	animation-duration: 0.25s;
	animation-name: message-arrive;
	animation-iteration-count: 1;
}

#chat-window > p > b {
	font-weight: bolder;
}