/* ============================================
Font imports
============================================ */
@font-face {
	font-family: "BattlekourBody";
	src: url("./src/BattlekourBody_v1.otf") format("otf");
}

/* ============================================
Variables
============================================ */
:root {
	/* Colors */
	--color-inputBG: rgba(0,0,0,0.5);
	--color-shadow: rgba(0,0,0,0.5);

	--color-panel: rgba(125, 125, 125, 0.5);
	--color-panel-light: rgba(186, 186, 186, 0.5);
	--color-panel-dark: rgba(64, 64, 64, 0.5);

	/* Sizes */
	--popup-size: 80px;
}

/* ============================================
Animations
============================================ */
@keyframes message-arrive { 
	0% {
		left: -100px;
		opacity: 0;
	}
	100% { 
		left: 0px;
		opacity: 1;
	}
}

/* ============================================
Comon
============================================ */
* {
	font-family: "BattlekourBody", Fallback, sans-serif;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
	font-smooth: never;
	font-size: 16px;
	text-shadow: 0px 2px 0px var(--color-shadow);
}

body {
    margin: 0px;
    padding: 0px;
	overflow: hidden;
}

.hidden {
	display: none;
}

/* ============================================
Canvas
============================================ */
#main-canvas, #hud-canvas, #menu-canvas, #background, #loading-basic {
	display: inline-block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
#hud-canvas {
	pointer-events: none;
}

/* ============================================
Menu
============================================ */
#background {
	background-image: url('./src/textures/bg_grid_3.png');
	background-size: 64px;
}

#loading-basic {
	display: inline-block;
	top: calc(50% - 64px);
	left: calc(50% - 64px);
	width: 128px;
	height: 128px;
	background-image: url('./src/textures/loading_basic.gif');
	background-size: 128px;
}

/* ============================================
Input Fields
============================================ */
input {
	font-weight: normal;
}

#focus-input {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	text-align: center;
	align-items: center;

	background-color: var(--color-inputBG);
}

#focus-input * {
	position: relative;
	margin: auto;
	user-select: none;
}

#focus-input h1 {
	display: block;

	width: 100%;
	height: 48px;
	padding: 0;
	margin: 10% 0 16px 0;

	font-size: 48px;
	color: white;

	font-weight: normal;
}

#focus-input button {
	width: 128px;
	height: 32px;

	font-size: 24px;
}

#focus-input-text {
	position: relative;
	display: inline-block;

	width: 40%;
	height: 40px;
	margin-bottom: 16px;

	border: none;
	border-radius: 4px;
	background-color: var(--color-inputBG);

	font-size: 32px;
	color: white;
}

/* ============================================
Chat
============================================ */
#chat-input {
	position: absolute;
	display: none;
	bottom: 100px;
	left: 32px;
	width: calc(35% + 20px);
	height: 20px;
}

#chat-input-text {
	position: absolute;
	display: inline-block;
	bottom: -10px;
	left: 0px;
	width: 100%;
	height: 20px;

	border: none;
	border-radius: 0px;
	background-color: var(--color-inputBG);
	color: white;
}

#chat-window {
	position: absolute;
	display: none;
	bottom: 130px;
	left: 32px;
	width: 35%;
	height: 20%;
	max-height: 20%;

	padding: 0px 10px 0px 10px;

	overflow-y: scroll;
	
	background-color: var(--color-inputBG);
	color: white;

	font-weight: lighter;
}

#chat-window::-webkit-scrollbar {
	display: none;
}

#chat-window > p {
	position: relative;
	margin: 10px 0px 5px;
	left: 0px;
	opacity: 1;
	transition: 1s;

	animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1.5);
	animation-duration: 0.25s;
	animation-name: message-arrive;
	animation-iteration-count: 1;
}

#chat-window > p > b {
	font-weight: bolder;
}

#chat-window > p.fromServer, #chat-window > p.fromServer > b {
	color: rgba(150, 150, 150, 0.5)
}

.noBG, .noBG > * {
	background-color: transparent;
	background: transparent;
}

#chat-input.noBG #chat-input-text, #chat-window.noBG {
	background-color: transparent;
}

/* ============================================
Chat Styles
============================================ */

.msg-title {
	display: inline-block;
	position: fixed;
	top: 20%;
	left: 0px;
	color: white;
	width: 100%;
	height: 80%;
	font-size: 10vh;
	text-align: center;
	pointer-events: none;
}

/* ============================================
Embedded Content
============================================ */
#embedded_content {
	position: absolute;	
	display: none; /* inline-block; */

	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;
}

#embedded_content iframe {
	position: absolute;
	display: inline-block;

	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	border-style: none;
}

#close-embed {
	position: absolute;
	display: inline-block;

	right: 20px;
	top: 20px;

	width: 128px;
	height: 32px;

	font-size: 24px;

	z-index: 10;
}

/* ============================================
Side Menu & Tabs
============================================ */

#side-menu {
	display: inline-block;
	position: absolute;

	padding: 0;

	width: 30%;
	height: 100%;

	top: 0px;
	right: 0px;

	background-color: var(--color-shadow);
	color: white;

	z-index: 1000;
	transition: 0.5s;
}

#side-menu-tabs {
	display: inline-block;
	position: relative;

	padding: 20px;

	width: calc(100% - 40px);
	height: calc(100% - 40px);

	overflow-y: auto;
}

#side-menu.closed {
	right: -30%;
}

#side-menu-tabs h1 {
	font-size: 32px;
}

#side-menu-button {
	display: inline-block;
	position: absolute;

	width: 40px;
	height: 40px;

	background-color: var(--color-shadow);
	text-align: center;
	font-size: 25px;
	line-height: 40px;
	user-select: none;

	top: 0px;
	left: -40px;

	cursor: pointer;
	z-index: 1000;
}

.tab-button {
	display: inline-block;
	position: relative;

	height: 40px;
	padding: 0 10px;
	margin: 0 0 5px 0;

	background-color: var(--color-shadow);
	text-align: center;
	font-size: 25px;
	line-height: 40px;

	top: 0px;
	left: 0px;

	user-select: none;
	cursor: pointer;
}

/* ============================================
Lobby
============================================ */

#player-list {
	display: inline-block;
	position: relative;

	height: auto;
	width: calc(100% - 10px);

	padding: 5px;

	background-color: var(--color-panel);
}

.player-row {
	display: flex;
	flex-wrap: nowrap;
	position: relative;

	height: 40px;
	width: 100%;

	background-color: var(--color-shadow);
}

#player-list-content .player-row:first-of-type > span {
	border: 2px solid var(--color-panel-light);
}

.player-name, .player-k, .player-d, .player-score {
	display: inline-block;
	position: relative;

	height: 36px;
	width: 76px;

	line-height: 38px;
	text-align: center;

	border: 2px solid var(--color-shadow);
}

.player-k {
	color: #44dd22;
}

.player-d {
	color: #ff9900;
}

.player-score {
	color: #88aaff;
}

.player-name {
	text-align: left;
	width: calc(100% - ((80px * 3) + 10px));

	padding: 0 5px;

	cursor: pointer;

	overflow: hidden;
}

#lobby-labels {
	color: rgba(255,255,255,0.5);
}

/* ============================================
Pop-up message
============================================ */

#popup-top {
	display: inline-block;
	position: absolute;

	padding: 0;

	width: 100%;
	height: var(--popup-size);

	top: calc(var(--popup-size) * -1);
	left: 0px;

	background-color: var(--color-shadow);
	color: white;
	text-align: center;
	font-size: 32px;
	line-height: var(--popup-size);

	z-index: 1000;
	transition: 0.5s;
}

#popup-top.open {
	top: 0px;
}